body
{
    background-color:whitesmoke;
}

.row{
display:flex;
margin-left: 200px;
margin-top: 15px;;
}
.box{
background-color: white;
height:300px;
margin-left: 15px;
}

div h2{
    margin-top:2px;
    font-size: 23px;
    margin-left: 10px;
}

div p{
    color: grey;
    margin-left: 10px;
    margin-top:-5px;
}

.v1{
    margin-top:40px;
}

p b{
    font-weight: bolder;
    color: red;
}